form input{
    background-color: white;
    color:black;
    width: 200px;
    padding-left:5px;
}
::placeholder {
    color: black;
    opacity: 1; 
  }
.float-row{
    background-color: transparent;
    display: flex;
    border-radius: 100px;
    width: 600px;
    height: 450px;
    padding-bottom: 30px;
    padding-top: 30px;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 91px;
}
.form-control{
    height: 40px;
    width: 300px;
    margin: 10px;
}
form .btn1{
    height: 30px;
    width:fit-content;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#Register, #login{
    color: #fff;
    border: 2px solid #5c9f24;
    background: #5c9f24;
    height: 60px;
    width: 23%;    
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    margin-left: 0%;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing:0.1em;
    margin-bottom: 80px;
}
h1{
    font-size: 35px;
    font-family:sans-serif;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 0%;
    color: white;
}
#Name, #Email, #password{
    min-height: 30px;
    width: 20%;
    padding: 10px 25px;
    font-weight: 300;
    line-height: 24px;
    color: #29293a;
    background-color: #f2f3f9;
    background-image: none;
    border: 0px solid #f2f3f9;
    border-radius: 35px;
    margin-left: 0%;
    font: inherit;
}
#user{
    margin-bottom: 40px;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 50px;
    font-family: sans-serif;
}
.copy_right_footer {
    position: relative;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:transparent;
    line-height: 3;
    text-align: center;
 }




